<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduarm">
    
    <!-- Base Link -->
    <gazebo reference="base_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="link1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="link2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="link3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Servo1 -->
    <gazebo reference="servo1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Servo2 -->
    <gazebo reference="servo2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Servo3 -->
    <gazebo reference="servo3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- End Effector -->
    <gazebo reference="end_effector">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Green</material>
    </gazebo>

</robot>